*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    margin-bottom:0!important;
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
html{
    font-size: 100%;
}
.hero_wrapper .carousel-item::before{
    content: '';
    position: absolute;
    top:0; left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
}
.hero_wrapper .content{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index:1000;
}
